<!DOCTYPE html>
<html lang="tw">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=EDGE" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- HTML META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="APIM">
    <meta name="description" content="APIM" />
    <meta name="author" content="Kyart" />
    <!-- Facebook META -->
    <meta property="og:image" content="assets/img/icon/head_blue_200x200.png">
    <meta property="og:title" content="APIM" />
    <meta property="og:description" content="APIM" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:type" content="website" />
    <!-- HTML5 Microdata -->
    <meta itemprop="name" content="APIM">
    <meta itemprop="description" content="APIM">
    <meta itemprop="image" content="assets/img/logo/android-chrome-512x512.png">
    <!-- Favicon and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="assets/img/logo/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="assets/img/logo/android-chrome-192x192.png" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <!-- kyart css -->
  <link rel="stylesheet" href="css/kyart-ui.css" />
  <link rel="stylesheet" href="css/plugins_lib.css" />
</html>
