<template>
    <b-container>
        <b-alert :show="alert_show" variant="warning">
            帳號欄位不得為空值
        </b-alert>
        <div class="content-main">
            <div class="content-frame">
                <div class="groupmanage-container">
                    <div class="scrollbar-inner">
                        <div class="page-title">
                            <h1>修改API關聯</h1>
                            <div class="action">
                                <a href="04.authorityManagement_userRelatedApi.htm" class="btn btn-grey btn-pill btn-icon">
                                    <router-link :to="'/api_related'">回上一頁</router-link>
                                </a>
                            </div>
                        </div>
                        <div class="apgroup-list-table-container">
                            <form class="form-horizontal t2 sys-form needs-validation" novalidate>
                                <div class="form-group row">
                                    <label for="" class="col-12 col-md-2 col-lg-1 col-form-label form-th">*帳號</label>
                                    <div class="col-12 col-md-6 col-lg-5 form-td">
                                        <validation-provider rules='required' v-slot='{errors}'>
                                           
                                            <select class="form-control inline" v-model="userNameKeyWord">
                                                <option value="">使用者帳號</option>
                                                <option
                                                    v-for="accountInfo in accountInfos"
                                                    v-bind:key="accountInfo.userId"
                                                    v-bind:value="accountInfo.userName"
                                                >
                                                    {{ accountInfo.userName }}
                                                </option>
                                                <span>{{errors[0]}}</span>
                                            </select>
                                        </validation-provider>
                                    </div>
                                    <button type="button" class="btn btn-deepblue inline" @click="search">查詢</button>
                                
                                </div>
                                <div v-for="(value, key, index) in tableData" :key="index">
                                        <input type="checkbox" :id="value.basename" v-model="value.status">
                                        <label :for="value.title">{{ value.title }} </label>
                                </div>
                                <div>
                                    
                                </div>
                            </form>    
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-12 col-md-2 col-lg-1 col-form-label form-th"></label>
                            <div class="col-12 col-md-6 col-lg-5 form-td">
                                <!-- <a href="04.authorityManagement_userRelatedApi.htm" class="btn btn-grey">回上一頁</a> -->
                                <button type="submit" class="btn btn-primary" @click="updateRel">修改關聯</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-container>
      
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import Datatable from "../components/Datatable.vue";
import router from '@/router';

export default {
  components: { Datatable },
  name: "API_Related",
 
  data() {
    return {
        APIM_SERVICE_URL: process.env.VUE_APP_APIM_SERVICE_URL, 
        userNameKeyWord: '',
        tableData: [],
        accountInfos: [],
        alert_show: false,
    };
  },
  created() {
      this.userAccount();
  },
  computed: {
  },
  methods: {
    // search
    search() {
        let userName = this.userNameKeyWord;
        if(userName.trim() === ''){
            this.alert_show=true;
            return;
        }
        this.alert_show=false;
       this.axios
         .get(this.APIM_SERVICE_URL + "/openapi/apim/getAllApiRelation", {
           headers: {
             'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
           },
           params: {
             username: userName
           }
         })
         .then(({ data }) => {         
          console.log("data:" + JSON.stringify(data));
          this.tableData = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateRel(){
        let nanee = this.tableData;
        let userName = this.userNameKeyWord;
        if(userName.trim() === ''){
            this.alert_show=true;
            return;
        }
        this.alert_show=false;
         console.log("nanee:" + JSON.stringify(nanee));
         for(let k in nanee){
            let value = nanee[k]
            this.axios.post(this.APIM_SERVICE_URL + "/openapi/apim/setApiRelation", null,{
                headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                },
                params: {
                    username: value.username,
                    baseName: value.basename,
                    status: value.status,
                }
            }).then(() => {
                alert("關聯成功");
            }).then(() => {
                router.push({ name: "Api_Related" });
            }).catch((error) => {
                console.error(error);
                if(error.response.status === 500){
                }
            });
         }
    },
    //find by user account
    userAccount() {
      this.axios({
        method: "get",
        url: "/openapi/apim/findAllUsername",
        baseURL: this.APIM_SERVICE_URL,
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.accountInfos = data;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },
  },

  
  mounted() {
    
  }
};
</script>