<template>
  <div class="content-wrapper fluid">
    <header class="customer-header">
      <nav class="sub-menu">
        <ul>
          <li>
            <router-link class="btn-icon" :to="{ name: 'Api_List' }">
              <div class="icon">
                <svg-injector src="img/icon/icon_home.svg" class="svg" />
              </div>
              <p>Home</p>
            </router-link>
          </li>
          <li>
            <router-link class="btn-icon" :to="{ name: 'Api_Info' }">
              <p>API 資訊</p>
            </router-link>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content-main">
      <div class="content-frame">
        <div class="groupmanage-container">
          <div class="scrollbar-inner">
            <div ref="test" class="apgroup-list-table-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import SwaggerUI from "swagger-ui";
export default {
  name: "Api_Test",
  data() {
    return {
      dataInfos: [],
      baseUrl: process.env.VUE_APP_APIM_SERVICE_URL,
    };
  },
  computed: {},
  methods: {
    //find by user account
    dataInfo() {
      this.axios({
        method: "get",
        url: `/openapi/apim/apitest/findByApiId/${this.$route.params.id}`,
        baseURL: this.baseUrl,
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.dataInfos = data;
          SwaggerUI({
            domNode: this.$refs["test"],
            spec: this.dataInfos,
          });
        })
        .catch(function(error) {
          console.log(error);
          alert("Error", error.message);
        });
    },
  },

  created() {
    this.dataInfo();
  },
};
</script>
