<template>
    
    <div class="registration">
        <h1>API註冊</h1>
        <div class="apgroup-list-table-container">
            <form class="form-horizontal t2 sys-form needs-validation" novalidate>
                <div class="form-group row">
                    <label for="" class="col-12 col-md-2 col-lg-2 col-xl-1 col-form-label form-th">基址</label>
                    <div class="col-12 col-md-6 col-lg-5 form-td">
                        <input type="text" class="form-control" v-model="baseName">
                    </div>
                </div>
                

                <b-row class="mt-2">
                    <b-col sm="10">
                        <b-form-textarea
                            id="textarea-rows"
                            rows="16"
                            placeholder="OAS格式"
                            v-model="oasText"
                        ></b-form-textarea>
                    </b-col>
                </b-row>
                
                <div class="form-group row">
                    <label for="" class="col-12 col-md-2 col-lg-2 col-xl-1 col-form-label form-th"></label>
                    <div class="col-12 col-md-6 col-lg-5 form-td">
                         <button class="btn btn-primary" @click="upload">送出</button>
                    </div>
                </div>    
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
    name: "API_Registration",
    data() {
        return {
            APIM_SERVICE_URL: process.env.VUE_APP_APIM_SERVICE_URL, 
            baseName: "",
            formData: new FormData(),
            oasText: ""
        };
    },

    created() {},

    computed: {},

    methods: {
        handleFile(value){
            console.log("value:" + value);
        },
        //  fileChange(e) {
        //     console.log("fileChange:" + e.target.files[0]);
        //     this.formData.append('file', e.target.files[0]);//放進上傳的檔案
        //     this.formData.append('baseName', this.baseName); //放進基址名稱
        // },
        upload() {
            console.log("upload:" );
            console.log("upload oasText:" + this.oasText);
            console.log("upload baseName:" + this.baseName);
            this.formData.append('oasText', this.oasText); 
            this.formData.append('baseName', this.baseName); 
            this.axios.post(this.APIM_SERVICE_URL + '/openapi/apim/oasText', this.formData,{
                 headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                }
            })
            .then(function (response) {
                alert("API註冊成功");
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    },

    mounted() {},
};
</script>
