<template>
  <div class="content-main">
    <div class="content-frame">
      <div class="groupmanage-container">
        <perfect-scrollbar class="scrollbar-inner">
          <div class="page-title">
            <h1>API授權管理</h1>
          </div>
          <div>
            <div class="page-action">
              <div class="col">
                <form>
                  <select class="form-control inline" v-model="accountSelected">
                    <option value="">使用者帳號</option>
                    <option
                      v-for="accountInfo in accountInfos"
                      v-bind:key="accountInfo.userId"
                      v-bind:value="accountInfo.userId"
                    >
                      {{ accountInfo.userName }}
                    </option>
                  </select>
                  <select class="form-control inline" v-model="statusSelected">
                    <option value="">--狀態--</option>
                    <option>Active</option>
                    <option>Revoke</option>
                  </select>

                  <button
                    type="button"
                    class="btn btn-deepblue inline"
                    @click="search"
                  >
                    查詢
                  </button>
                  <button
                    type="reset"
                    class="btn btn-grey inline"
                    @click="clearSearch"
                  >
                    清除
                  </button>
                </form>
              </div>
            </div>
            <div class="apgroup-list-table-container">
              <div class="table-responsive-container">
                <div class="table-responsive-xl">
                  <ve-table
                    :style="{ 'word-break': 'keep-all' }"
                    :columns="innerColumnsData"
                    :table-data="newTableData"
                  />
                </div>
                <div class="table-pagination" v-if="showEmpty">
                  <ve-pagination
                    :total="totalCount"
                    :page-index="pageIndex"
                    :page-size="pageSize"
                    :layout="['prev', 'pager', 'next']"
                    @on-page-number-change="pageNumberChange"
                    @on-page-size-change="pageSizeChange"
                  />
                </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
    <!--------------------start---------->
    <div
      class="modal fade"
      id="modal-alert-01"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-alert-01"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="msg-header mb-0">Confirm</h5>
          </div>
          <div class="modal-body">
            <div class="msg-body scrollbar-inner">
              <div class="container-fluid pb-3">
                <p class="text-center txt-15rem">確定要撤銷?</p>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="btn btn-grey btn-pill"
              data-dismiss="modal"
            >
              No
            </button>
            <button
              type="submit"
              class="btn btn-primary btn-pill"
              data-dismiss="modal"
              @click="submitRevoke"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!------------end----->
    <div
      class="modal fade"
      id="modal-alert-02"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-alert-01"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="msg-header mb-0">Confirm</h5>
          </div>
          <div class="modal-body">
            <div class="msg-body scrollbar-inner">
              <div class="container-fluid pb-3">
                <p class="text-center txt-15rem">確定要重新產生?</p>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="btn btn-grey btn-pill"
              data-dismiss="modal"
            >
              No
            </button>
            <button
              type="submit"
              class="btn btn-primary btn-pill"
              data-dismiss="modal"
              @click="submitRenew"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--------------end-------------->
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Api_Auth",
  data() {
    return {
      // keyword
      accountSelected: "",
      statusSelected: "",
      // page index
      pageIndex: 1,
      // page size
      pageSize: 10,
      sortOption: {
        sortChange: (params) => {
          this.sortChange(params);
        },
      },
      innerColumnsData: [],
      innerTableData: [],
      firstInit: false,
      accountInfos: [],
      showEmpty: false,
      rowInfo: [],
      baseUrl: process.env.VUE_APP_APIM_SERVICE_URL,
    };
  },
  computed: {
    // table data
    newTableData() {
      const { pageIndex, pageSize } = this;
      return this.innerTableData.slice(
        (pageIndex - 1) * pageSize,
        pageIndex * pageSize
      );
    },
    // total count
    totalCount() {
      return this.innerTableData.length;
    },
  },
  methods: {
    sortChange(params) {
      this.innerTableData.sort((a, b) => {
        if (params.createTime) {
          if (params.createTime === "asc") {
            return new Date(a.createTime) - new Date(b.createTime);
          } else if (params.createTime === "desc") {
            return new Date(b.createTime) - new Date(a.createTime);
          } else {
            return 0;
          }
        } else if (params.revokeTime) {
          if (params.revokeTime === "asc") {
            return new Date(a.revokeTime) - new Date(b.revokeTime);
          } else if (params.revokeTime === "desc") {
            return new Date(b.revokeTime) - new Date(a.revokeTime);
          } else {
            return 0;
          }
        }
      });
    },
    // page number change
    pageNumberChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    // page size change
    pageSizeChange(pageSize) {
      this.pageIndex = 1;
      this.pageSize = pageSize;
    },
    //find by user account
    userAccount() {
      this.axios({
        method: "get",
        url: "/openapi/apim/apikey/findByUserName",
        baseURL: this.baseUrl,
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.accountInfos = data;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },

    // search
    search() {
      let accountSelected = this.accountSelected;
      let statusSelected = this.statusSelected;
      this.innerColumnsData = [];
      this.showEmpty = false;
      this.pageIndex = 1;
      this.innerTableData = [];

      this.axios({
        method: "get",
        url: "/openapi/apim/apikey/findByUserNameAndStatus",
        baseURL: this.baseUrl,
        params: { userId: accountSelected, status: statusSelected },
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.innerTableData = data;
          this.innerColumnsData = [
            {
              field: "userName",
              key: "a",
              title: "使用者帳號",
              align: "left",
            },
            {
              field: "apiKey",
              key: "b",
              title: "API Key",
              align: "left",
            },
            {
              field: "status",
              key: "c",
              title: "狀態",
              align: "left",
            },
            {
              field: "createTime",
              key: "d",
              title: "建立日期",
              align: "left",
            },
            {
              field: "revokeTime",
              key: "e",
              title: "異動日期",
              align: "left",
            },
            {
              field: "revokeUserName",
              key: "f",
              title: "異動人員",
              align: "left",
            },
          ];
          if (data.length != 0) {
            this.showEmpty = true;
            this.firstInit = false;
          }
        })
        .catch((error) => {
          this.showEmpty = false;
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },
    clearSearch() {
      this.accountSelected = "";
      this.statusSelected = "";
    },
    getSingleKeyInfo(rowInfo) {
      this.rowInfo = rowInfo;
    },
    addActionBtn() {
      this.innerColumnsData.push({
        field: "",
        key: "g",
        title: "",
        align: "right",
        renderBodyCell: ({ row, column, rowIndex }, h) => {
          return (
            <ul class="table-action">
              <li>
                <button
                  class="btn btn-pill btn-danger"
                  href=""
                  data-toggle="modal"
                  data-target="#modal-alert-01"
                  data-backdrop="static"
                  data-keyboard="false"
                  on-click={() => this.getSingleKeyInfo(row)}
                >
                  撤銷
                </button>
              </li>
              <li>
                <button
                  class="btn btn-pill btn-green"
                  href=""
                  data-toggle="modal"
                  data-target="#modal-alert-02"
                  data-backdrop="static"
                  data-keyboard="false"
                  on-click={() => this.getSingleKeyInfo(row)}
                >
                  重新產生
                </button>
              </li>
            </ul>
          );
        },
      });
    },
    submitRevoke() {
      let status = "";
      this.axios({
        method: "POST",
        url: `/openapi/apim/apikey/revoke/${this.rowInfo.id}`,
        baseURL: this.baseUrl,
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.search();
          this.firstInit = false;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });

      this.rowInfo = [];
    },
    submitRenew() {
      let status = "";
      this.axios({
        method: "POST",
        url: `/openapi/apim/apikey/renew/${this.rowInfo.id}`,
        baseURL: this.baseUrl,
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.search();
          this.firstInit = false;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });

      this.rowInfo = [];
    },
  },
  updated() {
    // 只有第一次拿到資料, 會加上按鈕
    if (this.innerColumnsData.length > 0 && this.firstInit === false) {
      this.addActionBtn();
      this.firstInit = true;
    }
  },
  created() {
    this.userAccount();
  },
};
</script>
