<template>
    <div class="content-main">
        <div class="content-frame">
            <div class="groupmanage-container">
                <div class="scrollbar-inner">
                    <div class="page-title">
                        <h1>使用者與API關聯</h1>
                    </div>
                    <div class="page-action">
                        <div class="col">
                            <form>
                                <input type="text" class="form-control inline" placeholder="使用者帳號" v-model="userNameKeyWord" />
                                <button type="button" class="btn btn-deepblue inline" @click="search">查詢</button>
                                <button type="button" class="btn btn-green inline" @click="$router.push({path:'/api_related_update'})">修改API關聯</button>
                            </form>
                        </div>
                        <Datatable :columns="columns" :tableData="tableData" queryType='related'/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>    

<script>
import { mapActions, mapGetters } from "vuex";
import Datatable from "../components/Datatable.vue";
export default {
  components: { Datatable },
  name: "API_Related",
  data() {
    return {
        APIM_SERVICE_URL: process.env.VUE_APP_APIM_SERVICE_URL, 
        userNameKeyWord: '',
        columns: 
        [
            {
            "field": "username",
            "key": "a",
            "title": "使用者帳號",
            "align": "left"
            },
            {
            "field": "basename",
            "key": "b",
            "title": "API名稱",
            "align": "left"
            },
            {
            "field": "create_time",
            "key": "c",
            "title": "建立日期",
            "align": "left",
            "sortBy": ""
            },
            {
            "field": "update_time",
            "key": "d",
            "title": "異動日期",
            "align": "left",
            "sortBy": ""
            },
            {
            "field": "update_by",
            "key": "e",
            "title": "異動人員",
            "align": "left"
            }
        ],
        tableData: [],
    };
  },
  created() {
      //this.initData();
  },
  computed: {
    
  },
  methods: {
    initData() {
      this.axios
        .get(this.APIM_SERVICE_URL+"/openapi/apim/getApiRelation", {
          headers: {
            'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
          },
          params: {
            username: ''      
          }
        })
        .then(({ data }) => {         
            console.log("data:" + JSON.stringify(data));
            this.tableData = data;
       })
       .catch(function (error) {
         console.log("error:" + error.response.data);
       });
    },
    // search
    search() {
       let userName = this.userNameKeyWord;

       this.axios
         .get(this.APIM_SERVICE_URL + "/openapi/apim/getApiRelation", {
           headers: {
             'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
           },
           params: {
             username: userName
           }
         })
         .then(({ data }) => {         
          console.log("data:" + JSON.stringify(data));
          this.tableData = data;
        })
        .catch(function (error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },
  },
  mounted() {
    
  }
};
</script>