<template>
  <div class="content-main">
    <div class="content-frame">
      <div class="groupmanage-container">
        <div class="scrollbar-inner">
          <div class="page-title">
            <h1>API列表</h1>
          </div>
          <div class="col">
            <form>
              <input
                type="text"
                class="form-control inline"
                placeholder="輸入API名稱"
                id="search-table"
                v-model="title"
              />
              <button type="button" class="btn btn-deepblue inline" @click="search">
                查詢
              </button>
            </form>
          </div>
          <div class="apgroup-list-table-container">
            <div class="table-responsive-container">
              <div class="table-responsive-xl">
                <table class="table table-l1" id="table-l1">
                  <thead>
                    <tr>
                      <th>API名稱</th>
                      <th>狀態</th>
                      <th>提供者</th>
                      <th>新增時間</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(data, key) in serverListData"
                      :key="key"
                      :data-id="data.id"
                      :data-title="data.title"
                      :data-status="data.status"
                      :data-createBy="data.createBy"
                      :data-createTime="data.createTime"
                    >
                      <th>{{ data.title }}</th>
                      <td>{{ data.status }}</td>
                      <td>{{ data.createBy }}</td>
                      <td>{{ data.createTime }}</td>
                      <td class="action-td">
                        <ul class="table-action">
                          <li>
                            <router-link
                              class="btn btn-icon btn-bt"
                              :to="{
                                name: 'Api_Info',
                                params: { id: data.id },
                              }"
                            >
                              <svg-injector
                                src="img/icon/icon_info.svg"
                                class="svg"
                              />
                            </router-link>
                          </li>
                          <li>
                            <a
                              href="/api_list"
                              class="btn btn-icon btn-danger btn-bt"
                              data-toggle="modal"
                              data-target="#modal-delete-confirm"
                              @click="setServerId(data)"
                              >
                              <svg-injector src="img/icon/icon_delete.svg" class="svg"
                              />
                            </a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="modal-delete-confirm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-delete-confirm"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="msg-header mb-0">Confirm</h5>
          </div>
          <div class="modal-body">
            <div class="msg-body scrollbar-inner">
              <div class="container-fluid pb-3">
                <p class="text-center txt-15rem">確定要刪除?</p>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button
              type="button"
              class="btn btn-grey btn-pill"
              data-dismiss="modal"
            >
              取消
            </button>
            <button
              type="submit"
              class="btn btn-primary btn-pill"
              data-dismiss="modal"
              @click="deleteServer"
            >
              確定刪除
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      userName: "",
      serverListData: [],
      selectServerId: '',
      title: '',
      apimUrl: process.env.VUE_APP_APIM_SERVICE_URL,
    };
  },
  methods: {
    setServerId(data) {
      this.selectServerId = data.id;
		},
    search() {
      let setTitle = this.title;
      if(this.title.trim() ===''){
        setTitle = 'empty'; 
      }
      console.log('search title : '+ setTitle);
      
      const response = this.$http
      .get(this.apimUrl+"/openapi/apim/findServerListByTitle/"+setTitle, {
                 headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                }
            })
      .then((response) => {
        console.log(response.data);
        this.serverListData = response.data;
      });
    },
    deleteServer(){
      console.log(this.selectServerId);
      this.$http
      .delete(this.apimUrl+"/openapi/apim/deleteServer/"+this.selectServerId, {
                 headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                }
            })
      .then((response) => {
        this.$http
            .get(this.apimUrl+"/openapi/apim/findServerList", {
                 headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                }
            })
            .then((response) => {
              console.log(response.data);
              this.serverListData = response.data;
            });
      });
    },
  },
  created() {
    const response = this.$http
      .get(this.apimUrl+"/openapi/apim/findServerList", {
                 headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                }
            })
      .then((response) => {
        console.log(response.data);
        this.serverListData = response.data;
      });
  },
  mounted() {},
};
</script>