<template>
  <div class="content-wrapper fluid">
    <header class="customer-header">
      <nav class="sub-menu">
        <ul>
          <li>
            <router-link
	            class="btn-icon"
	            :to="{ name: 'Api_List'}">
	            <div class="icon">
		            <svg-injector src="img/icon/icon_home.svg" class="svg" />
	            </div>
	            <p>Home</p>
            </router-link>
          </li>
          <li>
            <router-link
	            class="btn-icon"
	            :to="{ name: 'Api_Test'}">
	            <p>API 測試區</p>
            </router-link>
          </li>
          <!-- <li><a href="">API規則</a></li>
                            <li><a href="">API規格</a></li> -->
        </ul>
      </nav>
    </header>
    <div class="content-main">
      <div class="content-frame">
        <div class="groupmanage-container">
          <div class="scrollbar-inner">
            <div class="page-title">
              <h1>API資訊</h1>
            </div>
            <div class="apgroup-list-table-container">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>API名稱</th>
                    <td>{{serverInfoForm.title}}</td>
                  </tr>
                  <tr>
                    <th>狀態</th>
                    <td>
                      <span>{{serverInfoForm.status}}</span>
                      <button type="button" 
                              class="btn btn-primary btn-pill inline ml-3"
                              @click="changeStatus(serverInfoForm)">
                        {{published}}
                      </button>
                    </td>
                    
                  </tr>
                  <tr>
                    <th>提供者</th>
                    <td>{{serverInfoForm.createBy}}</td>
                  </tr>
                  <tr>
                    <th>描述</th>
                    <td>{{serverInfoForm.description}}</td>
                  </tr>
                  <tr>
                    <th>新增時間</th>
                    <td>{{serverInfoForm.createTime}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="d-flex justify-content-between align-items-center">
                <a
                  class="btn-collapse d-inline-flex collapsed"
                  data-toggle="collapse"
                  href="#collapseExample"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  Endpoint列表<span class="caret"
                    ><img src="img/icon/icon_arrow_up.svg" class="svg"
                  /></span>
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <table class="table table-l1 mb-0">
                    <thead>
                      <tr>
                        <th>Endpoint概述</th>
                        <th>方法</th>
                        <th>Path</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(data, key) in serverInfoForm.endpointList" :key="key" :data-description="data.description" :data-method="data.method" :data-path="data.path">
                        <td>{{data.description}}</td>
                        <td>{{data.method}}</td>
                        <td>{{data.path}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      userName: "",
      serverInfoForm: [],
      published:'',
      apimUrl: process.env.VUE_APP_APIM_SERVICE_URL,
    };
  },
  methods: {
    changeStatus(serverInfoForm) {
      const response = this.$http
      .post(
        this.apimUrl+"/openapi/apim/saveServerStatus/" + serverInfoForm.id, null, {
                 headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                }
            }
      )
      .then((response) => {
        console.log(response.data);
        this.serverInfoForm = response.data;
        this.published = response.data.status == 'Created' ? '佈署':'取消佈署';
      });
		},
  },
  created() {
    const response = this.$http
      .get(
        this.apimUrl+"/openapi/apim/findServerInfo/" + this.$route.params.id, {
                 headers: {
                    'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
                }
            }
      )
      .then((response) => {
        console.log(response.data);
        this.serverInfoForm = response.data;
        this.published = response.data.status == 'Created' ? '佈署':'取消佈署';
      });
  },
  mounted() {},
};
</script>

