<template>
  <div class="content-main">
    <div class="content-frame">
      <div class="groupmanage-container">
        <div class="scrollbar-inner">
          <div class="page-title">
            <h1>Endpoint使用率</h1>
          </div>
          <div class="page-action">
            <div class="col">
              <div class="row p-2">
                <div class="col-sm-4 datepicker-labelgroup">
                  <label for="startDate">開始日期</label>
                  <DatePicker
                    @updateStartDate="updateStartDate"
                    :startDate="startDate"
                    dateType="startDate"
                  ></DatePicker>
                </div>
                <div class="col-sm-4 datepicker-labelgroup">
                  <label for="endDate">結束日期</label>
                  <DatePicker
                    @updateEndDate="updateEndDate"
                    :endDate="endDate"
                    dateType="endDate"
                  ></DatePicker>
                </div>
                <button
                  type="button"
                  class="btn btn-grey-outline btn-icon d-inline-flex align-self-end"
                  data-toggle="modal"
                  data-target="#modal-apiList"
                >
                  <div class="icon">
                    <svg-injector src="img/icon/icon_api.svg" class="svg" />
                  </div>
                  <p>API清單</p>
                </button>
                <button
                  class="btn btn-deepblue inline align-self-end"
                  @click="findEndpointU"
                >
                  查詢
                </button>
                <button
                  type="reset"
                  class="btn btn-grey inline align-self-end"
                  @click="clearDate"
                >
                  清除
                </button>
              </div>
            </div>
          </div>
          <div class="apgroup-list-table-container">
            <div class="table-responsive-container">
              <div class="table-responsive-xl">
                <ve-table
                  :style="{ 'word-break': 'keep-all' }"
                  :columns="columnsData"
                  :table-data="newTableData"
                />
              </div>
              <div class="table-pagination" v-if="headShow">
                <ve-pagination
                  :total="totalCount"
                  :page-index="pageIndex"
                  :page-size="pageSize"
                  :layout="['prev', 'pager', 'next']"
                  @on-page-number-change="pageNumberChange"
                  @on-page-size-change="pageSizeChange"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal start-->
    <div
      class="modal fade"
      id="modal-apiList"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-apiList"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="msg-header mb-0">API清單</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="clearApis"
            >
              <img src="img/icon/icon_close.svg" class="svg" />
            </button>
          </div>
          <div class="modal-body">
            <div class="msg-body scrollbar-inner">
              <div class="container-fluid pb-3">
                <div class="page-action pl-0 pr-0 nobr type-02">
                  <input
                    type="text"
                    class="form-control inline"
                    placeholder="API名稱"
                    v-model="apiInput"
                  />
                  <button class="btn btn-deepblue inline" @click="findApis">
                    查詢
                  </button>
                  <button
                    type="reset"
                    class="btn btn-grey inline mr-0"
                    @click="clearApis"
                  >
                    清除
                  </button>
                </div>
                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th width="5%">
                        <div class="form-check">
                          <label class="custom-check">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              id="checkAll"
                              v-model="selectAll"
                            />
                            />
                            <span class="checkmark "></span>
                          </label>
                        </div>
                      </th>
                      <th>API名稱</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="apiInfo in apisInfo"
                      v-bind:key="apiInfo.id"
                      v-bind:value="apiInfo.id"
                    >
                      <th>
                        <div class="form-check">
                          <label class="custom-check">
                            <input
                              type="checkbox"
                              class="form-check-input check"
                              :value="apiInfo.id"
                              :id="apiInfo.id"
                              name="apicheck"
                              v-model="selected"
                            />
                            <span class="checkmark "></span>
                          </label>
                        </div>
                      </th>
                      <td>{{ apiInfo.title }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary btn-pill"
              data-dismiss="modal"
              @click="clearApis"
            >
              確定
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end-->
  </div>
</template>
<script>
import DatePicker from "@/components/DatePicker.vue";

export default {
  name: "Endpoint_Usage",
  components: {
    DatePicker,
  },

  data() {
    return {
      startDate: "",
      endDate: "",
      apiInput: "",
      apisInfo: [],
      selected: [],
      endpointsName: [],
      endpointsInfo: [],
      columnsData: [],
      headShow: false,
      baseUrl: process.env.VUE_APP_APIM_SERVICE_URL,
      oriApi: [],
      pageIndex: 1,
      pageSize: 10,
    };
  },

  computed: {
    newTableData() {
      const { pageIndex, pageSize } = this;
      return this.endpointsInfo.slice(
        (pageIndex - 1) * pageSize,
        pageIndex * pageSize
      );
    },
    totalCount() {
      return this.endpointsInfo.length;
    },
    selectAll: {
      get() {
        if (this.apisInfo.length != 0) {
          return this.selected.length === this.apisInfo.length;
        }
      },
      set(value) {
        this.selected = [];
        if (value && this.apisInfo.length != 0) {
          this.apisInfo.forEach((select) => {
            this.selected.push(select.id);
          });
        }
      },
    },
  },

  methods: {
    pageNumberChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    pageSizeChange(pageSize) {
      this.pageIndex = 1;
      this.pageSize = pageSize;
    },
    check: function(e) {
      this.oriApi = e;
      console.log(e);
    },

    cancelApis() {
      this.selected = this.oriApi;
    },

    checkedApis() {
      this.oriApi = this.selected;
    },

    updateStartDate(val) {
      if (!this.endDate) {
        this.startDate = this.dateFormat(val);
        return;
      }
      if (!this.dateCompare(this.dateFormat(val), this.endDate)) {
        alert("結束時間必須比起始時間晚");
        return;
      } else {
        this.startDate = this.dateFormat(val);
      }
    },

    updateEndDate(val) {
      if (!this.startDate) {
        this.endDate = this.dateFormat(val);
        return;
      }
      if (!this.dateCompare(this.startDate, this.dateFormat(val))) {
        alert("結束時間必須比起始時間晚");
        return;
      }
      this.endDate = this.dateFormat(val);
    },

    dateFormat(time) {
      let date = new Date(time);
      let year = date.getFullYear();
      let month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

      return year + "-" + month + "-" + day;
    },

    dateCompare(startDay, endDay) {
      // 比對 startDate, endDate 大小
      const start = startDay.split("-");
      const end = endDay.split("-");
      const day1 = new Date(start[0], start[1], start[2]);
      const day2 = new Date(end[0], end[1], end[2]);
      const time = (day2 - day1) / (1000 * 60 * 60 * 24);

      return time < 0 ? false : true;
    },

    clearDate() {
      this.startDate = "";
      this.endDate = "";
    },

    findApis() {
      let apiInput = this.apiInput;
      this.selected = [];
      this.axios({
        method: "get",
        url: "/openapi/apim/findApiListByName",
        baseURL: this.baseUrl,
        params: { api: apiInput },
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.apisInfo = data;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },

    clearApis() {
      this.apiInput = "";
    },

    initialApis() {
      this.axios({
        method: "get",
        url: "/openapi/apim/findApiList",
        baseURL: this.baseUrl,
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.apisInfo = data;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },

    findEndpointU() {
      let startDate = this.startDate;
      let endDate = this.endDate;
      let selected = this.selected.toString();
      this.endpointsInfo = [];
      this.columnsData = [];
      this.pageIndex = 1;
      this.headShow = false;

      this.axios({
        method: "get",
        url: "/openapi/apim/endpointup/findByTimeAndApis",
        baseURL: this.baseUrl,
        params: { startDate: startDate, endDate: endDate, apis: selected },
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.endpointsInfo = data;
          this.columnsData = [
            
            {
              field: "baseName",
              key: "a",
              title: "API名稱",
              align: "left",
            },
            {
              field: "path",
              key: "b",
              title: "Endpoint Path",
              align: "left",
            },
            {
              field: "userName",
              key: "c",
              title: "使用者帳號",
              align: "left",
            },
            {
              field: "requestCnt",
              key: "d",
              title: "呼叫次數",
              align: "left",
            },
          ];
          if (data.length != 0) {
            this.headShow = true;
          }
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },
  },

  created() {
    this.initialApis();
    this.findEndpointU();
  },
};
</script>
<style>
.datepicker-labelgroup input.form-control.form-noborder {
  background: #fff;
}
.vue-daterange-picker > .reportrange-text {
  padding: 0;
}
.vtable .td1 {
  vertical-align: middle;
}
</style>
