<template>
  <div class="content-main">
    <div class="content-frame">
      <div class="groupmanage-container">
        <div class="scrollbar-inner">
          <div class="page-title">
            <h1>TOP 10 Endpoint 使用率</h1>
          </div>
          <div class="page-action">
            <div class="col">
              <div class="row p-2">
                <div class="col-sm-4 datepicker-labelgroup">
                  <label for="endDate">開始日期</label>
                  <DatePicker
                    @updateStartDate="updateStartDate"
                    :startDate="startDate"
                    dateType="startDate"
                  ></DatePicker>
                </div>
                <div class="col-sm-4 datepicker-labelgroup">
                  <label for="endDate">結束日期</label>
                  <DatePicker
                    @updateEndDate="updateEndDate"
                    :endDate="endDate"
                    dateType="endDate"
                  ></DatePicker>
                </div>
                <button
                  class="btn btn-deepblue inline align-self-end"
                  @click="myCharts"
                >
                  查詢
                </button>
                <button
                  type="reset"
                  class="btn btn-grey inline align-self-end"
                  @click="clearDate"
                >
                  清除
                </button>
              </div>
            </div>
          </div>
          <div id="chart" ref="chart" style="width:1050px;height:400px; "></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DatePicker from "@/components/DatePicker.vue";

let myChart = null;
let option = null;

export default {
  name: "Endpoint_Top",
  components: {
    DatePicker,
  },
  data() {
    return {
      startDate: "",
      endDate: "",
      endpointsInfo: [],
      baseUrl: process.env.VUE_APP_APIM_SERVICE_URL,
      apiName: [],
      requestCnt: [],
    };
  },

  methods: {
    updateStartDate(val) {
      if (!this.endDate) {
        this.startDate = this.dateFormat(val);
        return;
      }
      if (!this.dateCompare(this.dateFormat(val), this.endDate)) {
        alert("結束時間必須比起始時間晚");
        return;
      } else {
        this.startDate = this.dateFormat(val);
      }
    },

    updateEndDate(val) {
      if (!this.startDate) {
        this.endDate = this.dateFormat(val);
        return;
      }
      if (!this.dateCompare(this.startDate, this.dateFormat(val))) {
        alert("結束時間必須比起始時間晚");
        return;
      }
      this.endDate = this.dateFormat(val);
    },

    dateFormat(time) {
      let date = new Date(time);
      let year = date.getFullYear();
      let month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

      return year + "-" + month + "-" + day;
    },

    dateCompare(startDay, endDay) {
      // 比對 startDate, endDate 大小
      const start = startDay.split("-");
      const end = endDay.split("-");
      const day1 = new Date(start[0], start[1], start[2]);
      const day2 = new Date(end[0], end[1], end[2]);
      const time = (day2 - day1) / (1000 * 60 * 60 * 24);

      return time < 0 ? false : true;
    },

    clearDate() {
      this.startDate = "";
      this.endDate = "";
    },

    myCharts() {
      let startDate = this.startDate;
      let endDate = this.endDate;
      this.endpointsInfo = [];
      this.apiName = [];
      this.requestCnt = [];

      this.axios({
        method: "get",
        url: "/openapi/apim/endpointut/findByApis",
        baseURL: this.baseUrl,
        params: { startDate: startDate, endDate: endDate },
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      }).then(({ data }) => {
        this.endpointsInfo = data;
        data.forEach((item) => {
          this.apiName.push(item.baseName+ item.path);
          this.requestCnt.push(item.requestCnt);
        });

        if (myChart != null && myChart != "" && myChart != undefined) {
          myChart.dispose();
          myChart.clear();
        }

        myChart = this.$echarts.init(this.$refs.chart);
        if (data.length != 0) {
          option = {
            title: {
              text: "",
            },
            backgroundColor: "#f8f9fa",
            tooltip: {
              trigger: "axis",
              axisPointer: {
                type: "shadow",
              },
            },
            aria: {
              decal: {
                show: true,
              },
              enabled: true,
              show: true,
            },
            grid: {
              left: "15%",
              right: "20%",
              bottom: "5%",
              containLabel: true,
            },
            xAxis: {
              type: "value",
              boundaryGap: [0, 0.01],
            },
            yAxis: {
              type: "category",
              name: "API名稱/Endpoint Path",
              nameLocation: "end",
              nameTextStyle: { align: "center", padding: [0, 135, 0, 0] },
              nameRotate: "0",
              data: this.apiName,
            },
            series: [
              {
                name: "呼叫次數",
                type: "bar",
                data: this.requestCnt,
              },
            ],
          };
          myChart.setOption(option);
        }
      }).catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },
  },
  mounted() {
    this.myCharts();
  },
};
</script>
<style>
.datepicker-labelgroup input.form-control.form-noborder {
  background: #fff;
}
.vue-daterange-picker > .reportrange-text {
  padding: 0;
}
</style>
