<template>
  <div class="content-main">
    <div class="content-frame">
      <div class="groupmanage-container">
        <div class="scrollbar-inner">
          <div class="page-title">
            <h1>Endpoint運作狀況</h1>
          </div>
          <div class="page-action">
            <div class="col">
              <div class="row p-2">
                <button
                  type="button"
                  class="btn btn-grey-outline btn-icon d-inline-flex align-self-end"
                  data-toggle="modal"
                  data-target="#modal-apiList"
                >
                  <div class="icon">
                    <svg-injector src="img/icon/icon_api.svg" class="svg" />
                  </div>
                  <p>API清單</p>
                </button>
                <button
                  class="btn btn-deepblue inline align-self-end"
                  @click="findEndpointU"
                >
                  查詢
                </button>
              </div>
            </div>
          </div>
          <div class="apgroup-list-table-container">
            <div class="table-responsive-container">
              <div class="table-responsive-xl">
                <ve-table
                  :style="{ 'word-break': 'keep-all' } "
                  :columns="columnsData"
                  :table-data="newTableData"
                />
              </div>
              <div class="table-pagination" v-if="headShow">
                <ve-pagination
                  :total="totalCount"
                  :page-index="pageIndex"
                  :page-size="pageSize"
                  :layout="['prev', 'pager', 'next']"
                  @on-page-number-change="pageNumberChange"
                  @on-page-size-change="pageSizeChange"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal start-->
    <div
      class="modal fade"
      id="modal-apiList"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-apiList"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="msg-header mb-0">API清單</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="clearApis"
            >
              <img src="img/icon/icon_close.svg" class="svg" />
            </button>
          </div>
          <div class="modal-body">
            <div class="msg-body scrollbar-inner">
              <div class="container-fluid pb-3">
                <div class="page-action pl-0 pr-0 nobr type-02">
                  <input
                    type="text"
                    class="form-control inline"
                    placeholder="API名稱"
                    v-model="apiInput"
                  />
                  <button class="btn btn-deepblue inline" @click="findApis">
                    查詢
                  </button>
                  <button
                    type="reset"
                    class="btn btn-grey inline mr-0"
                    @click="clearApis"
                  >
                    清除
                  </button>
                </div>
                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th width="5%">
                        <div class="form-check">
                          <label class="custom-check">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              id="checkAll"
                              v-model="selectAll"
                            />
                            <span class="checkmark "></span>
                          </label>
                        </div>
                      </th>
                      <th>API名稱</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="apiInfo in apisInfo"
                      v-bind:key="apiInfo.id"
                      v-bind:value="apiInfo.id"
                    >
                      <th>
                        <div class="form-check">
                          <label class="custom-check">
                            <input
                              type="checkbox"
                              class="form-check-input check"
                              v-model="selected"
                              :value="apiInfo.id"
                              :id="apiInfo.id"
                            />
                            <span class="checkmark "></span>
                          </label>
                        </div>
                      </th>
                      <td>{{ apiInfo.title }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary btn-pill"
              data-dismiss="modal"
              @click="clearApis"
            >
              確定
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end-->
    <!-- modal start-->
    <div
      class="modal fade"
      id="modal-alert-01"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-alert-01"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form class="form-horizontal t2 sys-form">
            <div class="modal-header">
              <h5 class="msg-header">連線資料修改</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <svg-injector src="img/icon/icon_close.svg" class="svg" />
              </button>
            </div>
            <div class="modal-body">
              <perfect-scrollbar class="msg-body scrollbar-inner">
                <div class="container-fluid pt-4 pb-4">
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >Api名稱</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="rowInfo.apiName"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >Endpoint名稱</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="rowInfo.endpointName"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >Url</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="rowInfo.endpointUrl"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >Content Type</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="rowInfo.contentType"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >Request Body內容</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="rowInfo.requestBody"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >成功回應代碼</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="rowInfo.responseCode"
                      />
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-grey btn-pill"
                data-dismiss="modal"
              >
                取消
              </button>
              <button class="btn btn-primary btn-pill" data-dismiss="modal" @click="editEndpointList">
                修改
              </button>
            </div>
          </form>
        </div>
      </div>
      s
    </div>
    <!--------------end-------------->
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Endpoint_Status",
  data() {
    return {
      apiInput: "",
      apisInfo: [],
      selected: [],
      endpointsName: [],
      endpointsInfo: [],
      headShow: false,
      columnsData: [],
      baseUrl: process.env.VUE_APP_APIM_SERVICE_URL,
      pageIndex: 1,
      pageSize: 10,
      rowInfo: [],
    };
  },
  computed: {
    newTableData() {
      const { pageIndex, pageSize } = this;
      return this.endpointsInfo.slice(
        (pageIndex - 1) * pageSize,
        pageIndex * pageSize
      );
    },
    totalCount() {
      return this.endpointsInfo.length;
    },
    selectAll: {
      get() {
        if (this.apisInfo.length != 0) {
          return this.selected.length === this.apisInfo.length;
        }
      },
      set(value) {
        this.selected = [];

        if (value && this.apisInfo.length != 0) {
          this.apisInfo.forEach((select) => {
            this.selected.push(select.id);
          });
        }
      },
    },
  },
  methods: {
    pageNumberChange(pageIndex) {
      this.pageIndex = pageIndex;
    },
    pageSizeChange(pageSize) {
      this.pageIndex = 1;
      this.pageSize = pageSize;
    },
    initialApis() {
      this.axios({
        method: "get",
        url: "/openapi/apim/findApiList",
        baseURL: this.baseUrl,
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.apisInfo = data;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },

    findApis() {
      let apiInput = this.apiInput;
      this.selected = [];
      this.axios({
        method: "get",
        url: "/openapi/apim/findApiListByName",
        baseURL: this.baseUrl,
        params: { api: apiInput },
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          this.apisInfo = data;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },

    clearApis() {
      this.apiInput = "";
    },

    getSingleListInfo(rowInfo) {
      this.rowInfo = rowInfo;
    },

    editEndpointList(){

      this.axios({
        method: "post",
        url: "/openapi/apim/endpointstatus/updateEndpointList",
        baseURL: this.baseUrl,
        params: { listId: this.rowInfo.listId,
                  url: this.rowInfo.endpointUrl,
                  contentType: this.rowInfo.contentType,
                  requestBody: this.rowInfo.requestBody,
                  responseCode: this.rowInfo.responseCode },
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(() => {
          this.findEndpointU();
          alert("修改成功");
        })
    },

    findEndpointU() {
      let selected = this.selected.toString();
      this.endpointsInfo = [];
      this.columnsData = [];
      this.pageIndex = 1;
      this.headShow = false;

      this.axios({
        method: "get",
        url: "/openapi/apim/endpointstatus/findByApis",
        baseURL: this.baseUrl,
        params: { apis: selected },
        headers: {
          Authorization: "Bearer " + this.$store.getters.get_accessToken,
        },
      })
        .then(({ data }) => {
          data.forEach((number) =>
            this.endpointsInfo.push({
              listId: number.listId,
              apiName: number.baseName,
              endpointName: number.path,
              requestTime: number.requestTime,
              status: number.status,
              endpointUrl: number.endpointUrl,
              contentType: number.contentType,
              requestBody: number.requestBody,
              responseCode: number.responseCode,
              imgSrc:
                number.status == 0 ? (
                  <img
                    src="img/icon/icon_red.svg"
                    class="svg  imgsrc"
                    title="failed"
                  />
                ) : number.status == 1 ? (
                  <img
                    src="img/icon/icon_green.svg"
                    class="svg  imgsrc"
                    title="success"
                  />
                ) : number.status == 2 ? (
                  <img
                    src="img/icon/icon_grey.svg"
                    class="svg  imgsrc"
                    title="success"
                  />
                ) : null,
            })
          );

          this.columnsData = [
           
            {
              field: "apiName",
              key: "a",
              title: "API名稱",
              align: "left",
            },
            {
              field: "endpointName",
              key: "b",
              title: "Endpoint Path",
              align: "left",
            },
            {
              field: "requestTime",
              key: "c",
              title: "執行時間",
              align: "center",
            },
            {
              field: "",
              key: "d",
              title: "執行狀態",
              align: "center",
              renderBodyCell: ({ row, column, rowIndex }, h) => {
                return row.imgSrc;
              },
            },
            {
              field: "",
              key: "e",
              title: "",
              align: "center",
              renderBodyCell: ({ row, column, rowIndex }, h) => {
                return (
                  <ul class="table-action">
                    <li>
                      <a
                        href="javascript:void(0)"
                        class="btn btn-icon btn-bt"
                        data-toggle="modal"
                        data-target="#modal-alert-01"
                        on-click={() => this.getSingleListInfo(row)}
                      >
                        <svg-injector
                          src="img/icon/icon_edit.svg"
                          class="svg iconedit"
                        />
                      </a>
                    </li>
                  </ul>
                );
              },
            },
          ];

          if (data.length != 0) {
            this.headShow = true;
          }
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },
    
  },

  created() {
    this.initialApis();
    this.findEndpointU();
  },
};
</script>
<style>
.imgsrc {
  width: 20px;
  padding: 4px;
}
.iconedit {
  width: 100%;
}
</style>
