<template>
  <div>
    <div class="login-syslogo">
      <div class="syslogin-pic-01">
        <h1>API</h1>
        <h2>Management Platform</h2>
      </div>
      <!-- <div class="syslogin-pic-02"><img src="assets/img/bg-01.png"></div> -->
    </div>
 
    <b-alert :show="registerStatus" dismissible variant="primary">註冊成功，請輸入帳號密碼登入</b-alert>
    <div class="login-panel">
      
      <div class="login-form">
        <h2 class="color-blue txt-bold">Login</h2>
        <p class="mb-5 color-grey">
          Use your account to login, or go to
          <router-link
            :to="{
              name: 'Registration',
            }"
            >Registration</router-link
          >
        </p>
        <!-- <div class="c-logo"></div> -->
        <form action="01.apiManagement_apiList.htm" method="post">
          <div id="login-local">
            <!-- <div class="form-group">
                            <label><img src="assets/img/icon/icon_001.png"></label>
                            <select class="form-control form-noborder">
                                <option>繁體中文</option>
                                <option>English</option>
                                <option>日本語</option>
                            </select>
                        </div> -->
            <div class="form-group">
              <input
                type="email"
                class="form-control form-noborder"
                placeholder="帳號"
                v-model="username"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control form-noborder"
                placeholder="密碼"
                v-model="password"
              />
              <!-- <span class="forget-pw"><a href="#modal-forgetPW"  class="fb_inline_modal" data-toggle="tooltip" data-placement="bottom" title="忘記密碼"><img src="assets/img/icon/password_missing.png"></a></span> -->
            </div>
          </div>
          <!-- <div class="form-group">
                        <div class="login-switch">
                            <div class="btn btn-grey button-local active">本機</div>
                            <div class="btn btn-grey button-ldap">LDAP</div>
                        </div>
                    </div> -->
          <div v-if="get_loginStatus === '500'"><font color="#FF0000">帳號密碼輸入錯誤</font></div>          
          <div class="row">
            <div class="col-12">
              <button
                class="btn btn-big btn-fwidth btn-primary"
                @click.prevent="act_login([username, password])"
              >
                登入
              </button>
            </div>
            <!-- <div class="col-12 col-md-6">
                            <button type="button" class="btn btn-big btn-fwidth btn-grey-outline">註冊</button>
                        </div> -->
          </div>
          
        </form>
      </div>
    </div>
    <div class="login-right">
      <p>©2021 APIM. All rights reserved.</p>
      <p>建議瀏覽器 IE11或Firefox18或Chrome22以上</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      registerStatus: false
    };
  },
  created() {},
  computed: {
    ...mapGetters(['get_loginStatus', 'get_accessToken', 'get_registerStatus']),
  },
  methods: {
    ...mapActions(['act_login','act_logOut']),
  },
  mounted() {
    console.log('get_registerStatus:' + this.$store.state.registerStatus);
    if(this.$store.state.registerStatus ===''){
      this.registerStatus=false;
    }else{
      this.registerStatus=this.$store.state.registerStatus;
    }
    this.act_logOut();
  }
};
</script>
