<template>
  <div class="wrapper">
       
        <div class="login-syslogo">
            <div class="syslogin-pic-01">
                <h1>API</h1>
                <h2>Management Platform</h2>
            </div>
            <!-- <div class="syslogin-pic-02"><img src="assets/img/bg-01.png"></div> -->
        </div>
        <b-alert v-show="get_registerStatus" dismissible variant="primary">註冊成功，請輸入帳號密碼登入</b-alert>
        <div class="login-panel">
            <div class="login-form">
                <h2 class="color-blue txt-bold">Create Account</h2>
                   <p class="mb-5 color-grey">
                      Use your info to register, or go to
                      <router-link
                        :to="{
                        name: 'Login',
                        }"
                        >Login
                      </router-link>
                    </p>
                
                <!-- <div class="c-logo"></div> -->
                
                <form action="index.htm" method="post">
                    <div id="login-local">
                        <!-- <div class="form-group">
                            <label><img src="assets/img/icon/icon_001.png"></label>
                            <select class="form-control form-noborder">
                                <option>繁體中文</option>
                                <option>English</option>
                                <option>日本語</option>
                            </select>
                        </div> -->
                        <div class="form-group">
                            
                            <input type="email" class="form-control form-noborder" id="" placeholder="帳號"  v-model="username">
                        </div>
                        <div class="form-group">
                            
                            <input type="password" class="form-control form-noborder" id="" placeholder="密碼"  v-model="password">
                            <!-- <span class="forget-pw"><a href="#modal-forgetPW"  class="fb_inline_modal" data-toggle="tooltip" data-placement="bottom" title="忘記密碼"><img src="assets/img/icon/password_missing.png"></a></span> -->
                        </div>
                        <div class="form-group">
                            
                            <input type="text" class="form-control form-noborder" id="" placeholder="姓名" v-model="fullName">
                        </div>
                        <div class="form-group">
                            
                            <input type="text" class="form-control form-noborder" id="" placeholder="電話" v-model="callPhone">
                        </div>
                    </div>
                    <div v-if="get_registerStatus === false"><font color="#FF0000">輸入格式錯誤</font></div>
                    <!-- <div class="form-group">
                        <div class="login-switch">
                            <div class="btn btn-grey button-local active">本機</div>
                            <div class="btn btn-grey button-ldap">LDAP</div>
                        </div>
                    </div> -->
                    <div class="row">
                        <!-- <div class="col-12 col-md-6 mb-md-0 mb-2">
                            <button type="submit" class="btn btn-big btn-fwidth btn-primary">登入</button>
                        </div> -->
                        <div class="col-12">
                            <button  class="btn btn-big btn-fwidth btn-primary"
                            @click.prevent="act_register([username,password,fullName,callPhone])">
                            註冊
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="login-right">
            <p>©2021 APIM. All rights reserved.</p>
            <p>建議瀏覽器 IE11或Firefox18或Chrome22以上</p>
        </div>
        
    </div>
    <!-- js plugins-->
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Registration",
  data() {
    return {
      username: "",
      password: "",
      fullName: "",
      callPhone: "",
     
    };
  },
  created() {},
  computed: {
      ...mapGetters(['get_registerStatus']),
  },
  methods: {
   ...mapActions(['act_register']),
  },
  mounted() {

  }
};
</script>

