<template>
  <div class="content-main">
    <div class="content-frame">
      <div class="groupmanage-container">
        <perfect-scrollbar class="scrollbar-inner">
            <div class="page-title">
                <h1>角色資料維護</h1>
            </div>
            <div class="col">
                <form>
                    <input
                    type="text"
                    class="form-control inline"
                    placeholder="輸入角色名稱"
                    id="search-table"
                    v-model="roleKeyWord"
                    />
            
                    <button type="button" class="btn btn-deepblue inline" @click="search">
                    查詢
                    </button>
                    <Datatable :columns="columns" :tableData="tableData" queryType='role'/>
                </form>
            </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Datatable from "../components/Datatable.vue";
export default {
  components: { Datatable },
  name: "User_Management",
  data() {
    return {
      // keyword
        AUTH_SERVICE_URL: process.env.VUE_APP_AUTH_SERVICE_URL, 
        roleKeyWord: "",
        columns: 
        [
            {
            "field": "roleDesc",
            "key": "a",
            "title": "角色名稱",
            "align": "left"
            },
            {
            "field": "role",
            "key": "b",
            "title": "角色代碼",
            "align": "left"
            },
            {
            "field": "statusText",
            "key": "c",
            "title": "狀態",
            "align": "left"
            },
            {
            "field": "createTime",
            "key": "d",
            "title": "建立日期",
            "align": "left",
            "sortBy": ""
            },
            {
            "field": "updateTime",
            "key": "e",
            "title": "異動日期",
            "align": "left",
            "sortBy": ""
            },
            {
            "field": "updateBy",
            "key": "f",
            "title": "異動人員",
            "align": "left"
            }
        ],
        tableData: [],
    };
  },
  created() {
    this.initData();
  },
  computed: {
    ...mapGetters(['get_accessToken']),
  },
  methods: {
    initData() {
      this.axios
        .get(this.AUTH_SERVICE_URL + "/openapi/auth/roles", {
          headers: {
            'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
          },
          params: {
            rolenameDesc: ''      
          }
        })
        .then(({ data }) => {         
            //console.log("data:" + JSON.stringify(data));
            this.tableData = data;
       })
       .catch(function (error) {
         console.log(error);
       });
    },
    // search
    search({commit}) {
       let roleDesc = this.roleKeyWord;

       this.axios
         .get(this.AUTH_SERVICE_URL + "/openapi/auth/roles", {
           headers: {
             'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
           },
           params: {
             rolenameDesc: roleDesc
           }
         })
         .then(({ data }) => {         
          console.log("data:" + JSON.stringify(data));
          this.tableData = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

