<template>
  <div class="content-main">
    <div class="content-frame">
      <div class="groupmanage-container">
        <perfect-scrollbar class="scrollbar-inner">
          <div class="page-title">
            <h1>使用者資料維護</h1>
          </div>
          <div class="col">
          <form>
            <input
              type="text"
              class="form-control inline"
              placeholder="輸入使用者帳號"
              id="search-table"
              v-model="userAccountKeyWord"
            />
            <input
              type="text"
              class="form-control inline"
              placeholder="輸入姓名"
              v-model="userNameKeyWord"
            />
            <button type="button" class="btn btn-deepblue inline" @click="search">
              查詢
            </button>
          </form>
      </div>
          <Datatable :columns="columns" :tableData="tableData" queryType='user' />
          
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Datatable from "../components/Datatable.vue";
export default {
  components: { Datatable },
  name: "User_Management",
  data() {
    return {
      // keyword
      AUTH_SERVICE_URL: process.env.VUE_APP_AUTH_SERVICE_URL, 
      userAccountKeyWord: "",
      userNameKeyWord: "",

      columns: 
      [
        {
          "field": "username",
          "key": "a",
          "title": "使用者帳號",
          "align": "left"
        },
        {
          "field": "fullName",
          "key": "b",
          "title": "姓名",
          "align": "left"
        },
        {
          "field": "enabledText",
          "key": "c",
          "title": "狀態",
          "align": "left"
        },
        {
          "field": "createTime",
          "key": "d",
          "title": "建立日期",
          "align": "left",
          "sortBy": ""
        },
        {
          "field": "updateTime",
          "key": "e",
          "title": "異動日期",
          "align": "left",
          "sortBy": ""
        },
        {
          "field": "updateBy",
          "key": "f",
          "title": "異動人員",
          "align": "left"
        }
      ],
      tableData: [],
    };
  },
  created() {
    this.initData();
  },
  computed: {
    ...mapGetters(['get_accessToken']),
  },
  methods: {
    initData() {
//      console.log("get_accessToken:" + this.$store.getters.get_accessToken );
      this.axios
        .get(this.AUTH_SERVICE_URL + "/openapi/auth/users", {
          headers: {
            'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
          },
          params: {
            username: '',
            fullName: ''
          }
        })
        .then(({ data }) => {         
//          console.log("data:" + JSON.stringify(data));
          this.tableData = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    // search
    search({commit}) {
      let keyWordAccount = this.userAccountKeyWord;
      let keyWordName = this.userNameKeyWord;
//      commit("mut_userAccountKeyWord", keyWordAccount);
//      commit("mut_userNameKeyWord", keyWordName);
//      console.log("keyWordAccount:" + keyWordAccount);
//      console.log("keyWordName:" + keyWordName);
      this.axios
        .get(this.AUTH_SERVICE_URL + "/openapi/auth/users", {
          headers: {
            'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
          },
          params: {
            username: keyWordAccount,
            fullName: keyWordName
          }
        })
        .then(({ data }) => {         
 //         console.log("data:" + JSON.stringify(data));
          this.tableData = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
