<template>
  <div>
    <div
      class="modal fade"
      id="modal-userEdit"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-userEdit"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered lg" role="document">
        <div class="modal-content">
          <form class="form-horizontal t2 sys-form needs-validation" novalidate>
            <div class="modal-header">
              <h5 class="msg-header">使用者資料修改</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <svg-injector src="img/icon/icon_close.svg" class="svg" />
              </button>
            </div>
            <div class="modal-body">
              <perfect-scrollbar class="msg-body scrollbar-inner">
                <div class="container-fluid pt-4 pb-4">
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >使用者帳號</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="email"
                        class="form-control"
                        :value="local_account"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >姓名</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="local_name"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >角色</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <select class="form-control" v-model="local_role">
                        <option value="ROLE_admin">系統管理者</option>
                        <option value="ROLE_apim">API管理者</option>
                        <option value="ROLE_dev">API開發者</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >狀態</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <select class="form-control" v-model="local_state">
                        <option value="1">有效</option>
                        <option value="0">無效</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >電話</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <input
                        type="text"
                        class="form-control"
                        v-model="local_phone"
                      />
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-grey btn-pill"
                data-dismiss="modal"
              >
                取消
              </button>
              <button
                class="btn btn-primary btn-pill"
                data-dismiss="modal"
                @click="submitEditUser"
              >
                修改
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modal-apiAuthorizationSearch"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-apiAuthorizationSearch"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered lg" role="document">
        <div class="modal-content">
          <form class="form-horizontal t2 sys-form">
            <div class="modal-header">
              <h5 class="msg-header">API授權查詢</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <img src="img/icon/icon_close.svg" class="svg" />
              </button>
            </div>
            <div class="modal-body">
              <div class="msg-body scrollbar-inner">
                <div class="container-fluid pt-4 pb-4">
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >使用者帳號</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <p>{{ userInfo.userName }}</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >API Key</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <div class="input-group mb-2">
                        <input
                          type="text"
                          class="form-control"
                          id="inlineFormInputGroup"
                          v-model="userInfo.apiKey"
                          placeholder="API Key"
                          readonly
                        />
                        <div class="input-group-append">
                          <button
                            type="button"
                            class="btn btn-primary btn-icon"
                            title="copy to clipboard"
                            v-clipboard:copy="userInfo.apiKey"
                            v-on:click="checkImg"
                          >
                            <div class="icon" v-html="imgSrc"></div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="" class="col-12 col-md-3 col-form-label form-th"
                      >狀態</label
                    >
                    <div class="col-12 col-md-9 form-td">
                      <p>{{ userInfo.status }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import router from "@/router";
export default {
  name: "Modal",
  data() {
    return {
      AUTH_SERVICE_URL: process.env.VUE_APP_AUTH_SERVICE_URL,
      local_account: "",
      local_name: "",
      local_role: "",
      local_phone: "",
      local_state: "",
      baseUrl: process.env.VUE_APP_APIM_SERVICE_URL,
      userInfo: [],
      imgSrc: "",
    };
  },
  computed: {
    ...mapGetters([
      "get_editModalAccount",
      "get_editModalName",
      "get_editModalRole",
      "get_editModalPhone",
      "get_editModalState",
    ]),
  },
  methods: {
    // 將 store 的資料複製一份至 local 綁 v-model
    setLocal_fromStore() {
      this.local_account = this.get_editModalAccount;
      this.local_name = this.get_editModalName;
      this.local_role = this.get_editModalRole;
      this.local_phone = this.get_editModalPhone;
      this.local_state = this.get_editModalState;
    },
    // 初始化 loaclData
    setLocal_init() {
      this.local_account = "";
      this.local_name = "";
      this.local_role = "";
      this.local_phone = "";
      this.local_state = "";
    },
    submitEditUser() {
      // console.log("送出修改使用者表單事件");
      // console.log("local_account:" + this.local_account);
      // console.log("local_name:" + this.local_name);
      // console.log("local_role:" + this.local_role);
      // console.log("local_state:" + this.local_state);
      // console.log("local_phone:" + this.local_phone);
      // 將 local_ 相關欄位 藉由 API 送出給後端
      this.axios
        .post(this.AUTH_SERVICE_URL + "/openapi/auth/user", null, {
          headers: {
            Authorization: "Bearer " + this.$store.getters.get_accessToken,
          },
          params: {
            username: this.local_account,
            fullName: this.local_name,
            role: this.local_role,
            enabled: this.local_state,
            callPhone: this.local_phone,
          },
        })
        .then(() => {
          alert("會員資料修改成功");
        })
        .then(() => {
          //    router.push({ name: "User_Management" });
          router.go(0);
          //    router.go({name: 'User_Management', params: {userId: 1}});
        })
        .catch((error) => {
          console.error(error);
          if (error.response.status === 500) {
          }
        });
    },
    apiKeyData() {
      let self = this;
      self
        .axios({
          method: "get",
          url: "/openapi/apim/apikey/findByUserId",
          baseURL: self.baseUrl,
          headers: {
            Authorization: "Bearer " + this.$store.getters.get_accessToken,
          },
        })
        .then(({ data }) => {
          self.userInfo = data;
        })
        .catch(function(error) {
          if (error.response) {
            if (error.response.data.indexOf("message") != -1)
              alert(
                error.response.data.substring(
                  error.response.data.indexOf("message") + 8,
                  error.response.data.length - 1
                )
              );
          } else if (error.request) {
            console.log(error.request);
            alert("Error", error.request);
          } else {
            console.log("Error", error.message);
            alert("Error", error.message);
          }
        });
    },
    checkImg() {
      this.imgSrc = `<img src="img/icon/icon_check2.svg" class="svg" title="copied" />`;
    },
    copyImg() {
      this.imgSrc = `<img src="img/icon/icon_copy.svg" class="svg" title="copied" />`;
    },
  },
  mounted() {
    let vm = this;
    // 燈箱開啟前事件
    $("#modal-userEdit").on("show.bs.modal", function(e) {
      vm.setLocal_fromStore();
    });
    // 燈箱關閉後事件
    $("#modal-userEdit").on("hidden.bs.modal", function(e) {
      vm.setLocal_init();
    });

    $("#modal-apiAuthorizationSearch").on("show.bs.modal", function(e) {
      vm.apiKeyData();
      vm.copyImg();
    });
    $("#modal-apiAuthorizationSearch").on("hidden.bs.modal", function(e) {
      vm.copyImg();
    });
  },
};
</script>
