<template>
  <div
    class="modal fade"
    id="modal-roleEdit"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-roleEdit"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered lg" role="document">
      <div class="modal-content">
        <form class="form-horizontal t2 sys-form needs-validation" novalidate>
          <div class="modal-header">
            <h5 class="msg-header">角色資料修改</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <svg-injector src="img/icon/icon_close.svg" class="svg" />
            </button>
          </div>
          <div class="modal-body">
            <perfect-scrollbar class="msg-body scrollbar-inner">
              <div class="container-fluid pt-4 pb-4">
                <div class="form-group row">
                  <label for="" class="col-12 col-md-3 col-form-label form-th">角色代號</label>
                  <div class="col-12 col-md-9 form-td">
                    <input
                      type="text"
                      class="form-control"
                      :value="local_role"
                      readonly
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-12 col-md-3 col-form-label form-th">角色名稱</label>
                  <div class="col-12 col-md-9 form-td">
                    <input
                      type="text"
                      class="form-control"
                      v-model="local_roleDesc"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-12 col-md-3 col-form-label form-th">狀態</label>
                  <div class="col-12 col-md-9 form-td">
                    <select class="form-control" v-model="local_state">
                      <option value="1">有效</option>
                      <option value="0">無效</option>
                    </select>
                  </div>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
          <div class="modal-footer">
             <button
              type="button"
              class="btn btn-grey btn-pill"
              data-dismiss="modal">
              取消
            </button>
            <button
              class="btn btn-primary btn-pill"
              data-dismiss="modal"
              @click="submitEditRole">
              修改
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import router from '@/router'
export default {
  name: "RoleModal",
  data() {
    return {
      AUTH_SERVICE_URL: process.env.VUE_APP_AUTH_SERVICE_URL, 
      local_role: "",
      local_roleDesc: "",
      local_state: "",
    };
  },
  computed: {
    ...mapGetters([
      "get_editModalRoleCode",
      "get_editModalRoleDesc",
      "get_editModalRoleState",
    ]),
  },
  methods: {
    // 將 store 的資料複製一份至 local 綁 v-model
    setLocal_fromStore() {
      this.local_role = this.get_editModalRoleCode;
      this.local_roleDesc = this.get_editModalRoleDesc;
      this.local_state = this.get_editModalRoleState;
    },
    // 初始化 loaclData
    setLocal_init() {
      this.local_role = "";
      this.local_roleDesc = "";
      this.local_state = "";
    },
    submitEditRole() {
      this.axios.post(this.AUTH_SERVICE_URL + "/openapi/auth/role", null, {
        headers: {
            'Authorization': 'Bearer ' + this.$store.getters.get_accessToken
        },
        params: {
          role: this.local_role,
          rolenameDesc: this.local_roleDesc,
          status: this.local_state
        }
      }).then(() => {
          alert("角色資料修改成功");
      }).then(() => {
        router.go(0);
      })
      .catch((error) => {
        console.error(error);
        if(error.response.status === 500){
        }
      });
    },
  },
  mounted() {
    let vm = this;
    // 燈箱開啟前事件
    $("#modal-roleEdit").on("show.bs.modal", function (e) {
      vm.setLocal_fromStore();
    });
    // 燈箱關閉後事件
    $("#modal-roleEdit").on("hidden.bs.modal", function (e) {
      vm.setLocal_init();
    });
  },
};
</script>
