<template>
  
  <div id="app" :class="['main', { 'open-mnav': get_leftSidebarOpen }]">
    <div class="wrapper">
      <div class="main-frame" v-if="iswhitelist">
          <!-- top header -->
          <HeaderPortal />
          <router-view />
      </div>
      <div class="main-frame" v-else>
        <!-- left sidebar -->
        <LeftSidebar />
        <div class="content-wrapper">
          <!-- top header -->
          <Header />
          <router-view />
        </div>
      </div>
    </div>
    <Modal />
    <RoleModal />
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import LeftSidebar from "@/components/LeftSidebar.vue";
import Header from "@/components/Header.vue";
import Modal from "@/components/Modal.vue";
import RoleModal from "@/components/RoleModal.vue";
import HeaderPortal from "@/components/HeaderPortal.vue";
export default {
  data() {
    return {
      tag: hidden,
    };
  },
  components: {
    LeftSidebar,
    Header,
    Modal,
    RoleModal,
    HeaderPortal,
  },
  computed: {
    ...mapGetters(["get_leftSidebarOpen"]),
    // 是否為訪客可以查看的頁面
    iswhitelist() {
      return this.$route.meta.whitelistMeta;
    },
  },
};
</script>
<style lang="scss">
@import "./assets/css/style";
</style>
